$blush: #f9c0c0; // Blush
$soft-peach: #fad5a5; // Soft Peach
$buttermilk: #f5f3c1; // Buttermilk
$lincoln: #b8f7a1; // Lincoln (a soft beige color)
$vintage-peach: #f5b6a1; // Vintage Peach

$pink: #ffeceb;
$cloud: #a0caf0;
$dark-pink: #a05578;
$sea-blue: #127ba7;
$watermelon-pink: #e37383;

// $third: #ffffba;
