@import "colors";
@import "./reset.scss";
@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/hero.scss";

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: #f3e3e8;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
